*{ 
  margin: 0;
  padding:0;
  font-family:century gothic;
}

body {
  background-image: url("C:\Users\shubh\OneDrive\Desktop\bootstrip\2020-09-14.jpg");
  display: inline-block; 
  height :100uh;
  background-size: cover;
  background-position: center;
}
