
.heading{
    display: grid;
    grid-template-columns:1524px;
    text-align: center;
    background-color: rgb(25, 25, 225);  
  }
  
.button{
  display: grid;
  grid-template-columns:150px 150px 150px 150px 150px 150px;
  text-align: center;
  background-color: rgb(255, 255, 255);  
}
  .container1{
    display: grid;
    grid-template-columns: 1480px ;
    grid-template-rows: 273px ;
    text-align: 10px;
    background-color: rgb(35, 35, 236);  
    height: 0px;
    display: 10px;
    padding-left: 20px;
  }      